GeminiEmbeddedTomcatJerseyApi/target
GeminiEmbeddedTomcatJerseyApi/.idea
GeminiEmbeddedTomcatJerseyApi.Docker/docker-compose.yml.*
GeminiEmbeddedTomcatJerseyApi.PostgreSql/data
GeminiEmbeddedTomcatJerseyApi.Redis/redis-data
/.idea/
